CrowdFlower/data
CrowdFlower/papers
CrowdFlower/submissions
CrowdFlower/.ipynb_checkpoints/*.ipynb
Rossman-Stores-Sales/data
Rossman-Stores-Sales/submissions
liberty-group/data
liberty-group/submissions
PAKDD/data
PAKDD/submissions
.ipynb_checkpoints
.DS_Store
Standard-Customer-Satisfaction/data
Standard-Customer-Satisfaction/submissions
Battlefin-s-big-data/data/
Battlefin-s-big-data/submissions/
